<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About CarRent.my
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <b>About CarRent.my</b>
    <p class="ion-text-center">
      <img src="assets/car.JPG" width=70%>
    </p>
    <ion-grid fixed>
      <ion-row>
        <p>
          At CarRent.my, our goal is clear, to become the best car rental in the Malaysia. We believe simpler is
        better.
        That's why we've made it as easy as possible for you to find what you're looking for.
        We provide an unparalleled product selection, a variety of choices of car that ready to rent and extraordinary customer service.
        Our comprehensive warranties and professional support ensure our customer's total
        satisfaction even after their order is complete.
        Get in touch and pay us a visit today.
        </p>
        
      </ion-row>
    </ion-grid>

    <b>History CarRent.my</b>
    <p class="ion-text-center">
      <img src="assets/shop.jpg" width=70%>
    </p>
    <ion-grid fixed>
      <ion-row>
        <p>
          The CarRent.my was founded in 2010 at Ampang, Selangor. The company started full operation and being handled by Mr Ali.
          It was where the CarRent.my has opened its company, offering rental car for the customer.
        </p>
      </ion-row>
    </ion-grid>

    <b>Location CarRent.my</b>
    <p class="ion-text-center">
      <img src="assets/loc.jpg" width=70%>
    </p>
    <ion-grid fixed>
      <ion-row>
        <p>
          Our shop is located at 	Jalan Wawasan 3/7, Bandar Baru Ampang, 68000 Ampang, Selangor, Malaysia.
        </p>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>