<ion-header [translucent]="true">
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p class="ion-text-center">
      <img src="assets/faq.png" width=50%>
    </p>
    <ion-grid fixed>
      <ion-row>
        <b>Frequent-Asked-Question</b>
        <p>
          <b>1. How to book a car at CarRent.my?</b><br>
          -Refer to How To Buy for more details. Also see how to complete your order by reading the How To Checkout guide.
          Should you have any orders’ queries, please email us at sales@carrent.com.my.
        </p>
        <p>
          <b>2. How to pay after made a book at CarRent.my?</b><br>
          -Thank you for choosing CarRent.my to get a ride
          For payment of your book, you may pay in cash payment or online payment on 7625500001 CIMB (CarRent.my) 
          at our HQ during pick up.
        </p>
        <p>
          <b>3. Where is my car?</b><br>
          -Thank you for rented a car in CarRent.my 
          For more information of your book, you may SMS to 0173888388 for instant update of your rent car status or
          contact our helplink at +603 6565785.
        </p>
        
  
        <p class="ion-text-center">
          <img src="assets/contact.png" width=50%>
        </p>
  
        <p>
          <b>Have a question? Don't Forget to Contact With Us
            Ampang , Selangor , Malaysia</b>
        </p>
        <ion-text>
          <p>
            www.carrent.com.my
          </p>
    
          <p>
            Contact : +603 6565785
          </p>
    
          <p>
            Facebook : CarRent.my
          </p>
    
          <p>
            Instagram : @carrent.my
          </p>
        </ion-text>
      </ion-row>
    </ion-grid>
  
    </div>
</ion-content>