<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CarRent.my
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p class="ion-text-center">
    <img src="assets/car.JPG" width=90%>
  </p>

  <p>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button [routerLink]="['/login']" class="ion-padding"  expand="full"  shape="round"  color="primary">
             GET STARTED
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </p>