<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CarRent.my</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2><b>Latest in CarRent.my today.</b></h2>
    <h4>RM1.00 Only For One Car Rent!</h4>
    <p class="ion-text-center">
      <img src="assets/rm1.jpg" width=90%>
    </p>
    <p>We’ve no doubt you’ve gotten some pretty good deals for a low price. But have you ever booked a car for only RM1? For only RM1, you can now book your dream car! Unlock your ride with CarRent.my right now and enjoy rewards worth RM500, and many more. </p><br>
    

    <h4>New Car Arrival For Booking!</h4>
    <b>Luxury Category</b>
    <p class="ion-text-center">
      <img src="assets/vell.jpg" width=90%>
    </p>
    Toyota Vellfire
    <p class="ion-text-center">
      <img src="assets/gla.jpg" width=90%>
    </p>
    Mercedes GLA 250<br><br>

    <b>Sports Category</b>
    <p class="ion-text-center">
      <img src="assets/fer.jpg" width=90%>
    </p>
    Ferrari 488 GTB
    <p class="ion-text-center">
      <img src="assets/lambo.jpeg" width=90%>
    </p>
    Lamborghini Huracan

    <p>
      There will be a new category coming soon to the CarRent.my, which is Luxury and Sport category. after this, our user will have a chance to rent a luxury car whenever they want!
    </p><br>

    <h4>Get Free Ride By Inviting Your Friend!</h4>
    <p class="ion-text-center">
      <img src="assets/inv.JPG" width=90%>
    </p>
    You will get a free ride after inviting your friend to register an account in CarRent.my!



  </div>
    
</ion-content>
